body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "roboto";
  background-color: #ebebeb;
}
#navegation {
  height: 100px;
  background: #eac926;
}
#contenido-central {
  width: 80%;
  margin: 0 auto;
}

#medios-depago {
  background-color: white;
  height: 100px;
  margin: 22px;
}

#medios-depago .medios-depago-info {
  width: 25%;
  display: inline-block;
}

.fuentetruck {
  font-size: 50px;
}
.hamburger {
  font-size: 100px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: centers;
}
#navegation .navegation-logo {
  background: yellow;
}
.precios {
  font-size: 18px;
}
.descuentos {
  font-size: 16px;
}
.descripcion {
  font-size: 16px;
}
p {
  font-size: 12px;
}
b {
  font-size: 24px;
}
p b {
  font-size: 24px;
}
#articulos .categorias {
  width: 300px;
  height: 300px;
  padding: 10px;
  border: solid 3px gray;
  margin: 30px;
  box-sizing: border-box;
  background-color: white;
}
.d-flex {
  display: flex;
}
